{{- $enable := and (default true .Params.toc) (default true .Site.Params.toc) -}}
{{- $wordCount := default 280 .Site.Params.tocWordCount -}}
{{- $toc := .TableOfContents -}}
{{- $valid := and $toc (and (ne $toc "<nav id=\"TableOfContents\"></nav>") (gt .WordCount $wordCount)) -}}
{{- if and $enable $valid -}}
<a class="action" href="#postTOC" data-bs-toggle="offcanvas" aria-controls="Table of contents" role="button" title="Table of contents">
  <i class="fa-fw bi bi-card-list"></i>
</a>
{{- end -}}
