{{- $baseURL := $.Site.BaseURL -}}

<nav class="navbar top-app-bar-expand-lg{{ if (default true $.Site.Params.fixedHeader) }} fixed-top{{ end }}" aria-label="Main navigation">
  <div class="container{{ if default false .Site.Params.fullWidth }}-fluid{{ end }}">
    {{- $logo := (default "images/logo.webp" .Site.Params.logo) -}}
    <a class="navbar-brand{{ if .IsHome }} active{{ end }}" href="{{ "" | absLangURL }}">
      {{- if $logo -}}
        {{ partial "helpers/image" (dict "filename" $logo "alt" "Logo" "class" "logo" "resources" .Resources) }}
      {{- end -}}
    </a>

    <div class="navbar mr-auto offcanvas-collapse" id="navbar-menu">
      <ul class="navbar-nav">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        {{- $url := .URL | absURL -}}
        {{- $active := or (eq $currentPage.Permalink (absURL .URL)) ($currentPage.IsMenuCurrent "main" .) -}}
        {{- if .HasChildren -}}
        <li class="nav-item dropdown">
          <a class="nav-link{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }} dropdown-toggle" id="navbarDropdown{{ title .Identifier }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .Pre }} {{- .Name -}} {{ .Post }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ title .Identifier }}">
            {{- range .Children -}}
            {{- $childURL := .URL | absURL -}}
            {{- if .Params.divider -}}
            <li><hr class="dropdown-divider"></li>
            {{- else -}}
            <li>
              <a class="dropdown-item{{ if or (eq $currentPage.Permalink (absURL .URL)) ($currentPage.IsMenuCurrent "main" .) }} active{{ end }}"
                href="{{ $childURL }}"{{ if not (hasPrefix $childURL $baseURL) }} target="_blank" rel="noopener noreferrer"{{ end }}>
                {{ .Pre }} {{- .Name -}} {{ .Post }}
              </a>
            </li>
            {{- end -}}
            {{- end -}}
          </ul>
        </li>
        {{- else -}}
        <li class="nav-item">
          <a class="nav-link{{ if $active }} active{{ end }}" href="{{ $url }}"{{ if not (hasPrefix $url $baseURL) }} target="_blank" rel="noopener noreferrer"{{ end }}>
            {{ .Pre }} {{- .Name -}} {{ .Post }}
          </a>
        </li>
        {{- end -}}
        {{- end -}}
      </ul>
      <div class='footer-nav'>
        {{- partial "footer.html" . -}}
      </div>
    </div>
    <div class="offcanvas surface text-dark offcanvas-start w-75" tabindex="-1" id="sidemenu" aria-labelledby="sidemenuLabel">
      <div class="text-dark border-bottom offcanvas-header">
        <h5 class="offcanvas-title" id="sidemenuLabel">
          {{- with .Site.Params.brand2 -}}
          {{ . }}
          {{- end -}}
        </h5>
        <button type="button" class="navbar-settings" data-bs-dismiss="offcanvas" aria-label="Close"><i class='fas fa-times'></i></button>
      </div>
      <div class="offcanvas-body p-0">
        <div>
          <ul class="nav flex-column">
            <li class=nav-item>
            <a href="{{ absLangURL "" }}" class="nav-link text-dark">🏡 Home</a>
            </li>
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}
            {{- $url := absLangURL .URL -}}
            {{- $active := or (eq $currentPage.Permalink (absLangURL .URL)) ($currentPage.IsMenuCurrent "main" .) -}}
            {{- if .HasChildren -}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark {{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}" href="#" id="navbarDropdown-{{ .Identifier }}" role="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                {{ .Pre }} {{- .Name -}} {{ .Post }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{ .Identifier }}">
                {{- range first 6 .Children -}}
                {{- $childURL := absLangURL .URL -}}
                  <a class="dropdown-item{{ if or (eq $currentPage.Permalink (absLangURL .URL)) ($currentPage.IsMenuCurrent "main" .) }} active{{ end }}"
                    href="{{ $childURL }}"{{ if not (hasPrefix $childURL $baseURL) }} target="_blank"{{ end }}>
                    {{ .Pre }} {{- .Name -}} {{ .Post }}
                  </a>
                {{- end -}}
              </a>
              </div>
            </li>
            {{- else -}}
            <li class="nav-item {{ if $active }} active{{ end }}">
              <a class="nav-link text-dark" href="{{ $url }}"{{ if not (hasPrefix $url $baseURL) }} target="_blank"{{ end }}>
                {{ .Pre }} {{- .Name -}} {{ .Post }}
              </a>
            </li>
            {{- end -}}
            {{- end -}}
          <li class=nav-item>
            <a class="nav-link" data-bs-toggle="collapse" href="#moremenu" role="button" aria-expanded="false" aria-controls="moremenu">More..</a>
          </li>
          <li class="nav-item " x-bind:class="{'d-none d-block': !moreMenu }">
            <hr>
          </li>
          </ul>
          <div class='collapse' id='moremenu'>
            <nav class=" nav " >
           
            <a class=nav-link href=/about/>About</a>
            <a class=nav-link href=/faqs/>FAQs</a>
            <a class=nav-link href=/contact/>Feedback</a>
            </nav>
            <div class="position-absolute py-3 pr-4 ml-10" style='bottom:0'>
              <div class='col-12 text-center'>
                {{- partial "footer/social-links" . -}}
                {{- partial "footer/copyright" . -}}
                {{- partial "footer/powered-by" . -}}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "header/search-bar" . }}
    
    <button class="navbar-settings " type="button" aria-label="Switch Theme" id=toggle-theme>
      <svg class="svg-inline--fa fa-bars fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-fa-i2svg="">
        <path id="icon-theme" fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
        </path></svg>
    </button>
    <button class="navbar-toggler p-0 border-0" data-bs-toggle="offcanvas" href="#sidemenu" role="button" aria-controls="sidemenu">
      <i class="fas fa-bars"></i>   
    </button>
  </div>
</nav>
-->
<!--
<nav class="navbar top-app-bar top-app-bar-expand-lg{{ if (default true $.Site.Params.fixedHeader) }} fixed-top{{ end }}">
  <div class="container{{ if default false .Site.Params.fullWidth }}-fluid{{ end }}">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    {{- $logo := (default "images/logo.webp" .Site.Params.logo) -}}
    <a class="navbar-brand me-3{{ if .IsHome }} active{{ end }}" href="{{ "" | absLangURL }}">
      {{- if $logo -}}
        {{ partial "helpers/image" (dict "filename" $logo "alt" "Logo" "class" "logo" "resources" .Resources) }}
      {{- end -}}
      {{ with .Site.Params.brand }}{{ . }}{{ else }}{{ $.Site.Title }}{{ end }}
    </a>
    {{ partial "header/social-share" . }}
    {{ partial "header/settings" . }}
    <div class="collapse navbar-collapse" tabindex="-1" id="navbarSupportedContent" aria-labelledby="navbarSupportedContent">
      {{ partial "header/search-bar" . }}
      <ul class="navbar-nav ms-auto">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        {{- $url := .URL | absURL -}}
        {{- $active := or (eq $currentPage.Permalink (absURL .URL)) ($currentPage.IsMenuCurrent "main" .) -}}
        {{- if .HasChildren -}}
        <li class="nav-item dropdown">
          <a class="nav-link{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}" id="navbarDropdown{{ title .Identifier }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .Pre }} {{- .Name -}} {{ .Post }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ title .Identifier }}">
            {{- range .Children -}}
            {{- $childURL := .URL | absURL -}}
            {{- if .Params.divider -}}
            <li><hr class="dropdown-divider"></li>
            {{- else -}}
            <li>
              <a class="dropdown-item{{ if or (eq $currentPage.Permalink (absURL .URL)) ($currentPage.IsMenuCurrent "main" .) }} active{{ end }}"
                href="{{ $childURL }}"{{ if not (hasPrefix $childURL $baseURL) }} target="_blank" rel="noopener noreferrer"{{ end }}>
                {{ .Pre }} {{- .Name -}} {{ .Post }}
              </a>
            </li>
            {{- end -}}
            {{- end -}}
          </ul>
        </li>
        {{- else -}}
        <li class="nav-item">
          <a class="nav-link{{ if $active }} active{{ end }}" href="{{ $url }}"{{ if not (hasPrefix $url $baseURL) }} target="_blank" rel="noopener noreferrer"{{ end }}>
            {{ .Pre }} {{- .Name -}} {{ .Post }}
          </a>
        </li>
        {{- end -}}
        {{- end -}}
      </ul>
    </div>
  </div>
</nav>
-->